

.main{
	display:flex;
	flex-direction: column;
    margin: 0;
    padding: 0;
}
.container{
	
    display: flex;
    flex-direction: column;
    padding: 1rem 1rem;
    color: #fff;
    border: none;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
}
.lista .trigger {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 700;
    padding: 1rem 2rem;
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff ;
    border-radius: 1rem;
}

.lista{
    display: flex;
    flex-direction: column;
    padding: 0;
    width: 100%;
    align-items:center;
}

.lista .trigger h4{
    font-size: 1.5rem;
    margin: 0;
    text-align: start;
}

.lista .list-group{
    overflow: hidden;
    height: 0;
    opacity: 0;
    transition: opacity .25s ease-in-out;
}

.lista.open .list-group{
    display: inline-block;
    padding: .5rem;
    height: auto;
    opacity: 1;
    border: 1px solid #fff ;
    width:100%;
    border-radius: 1rem;

}

.lista a{
    background-color: transparent;
}

.card-main{
	display: flex;    
	flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    background-color: transparent;
    width: 100%;
    border: 1px solid #fff ;
    border-radius: 1rem;
    
}


.entry-value {
	  display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    padding: 1.5rem;
    justify-content: flex-start;
    height: 300px;
    margin-top: 1rem;
    overflow-y: scroll;
    color: green;
    border: 1px solid green ;
    border-radius: 1rem;
}
.output-value{
	  display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    padding: .5rem;
    margin-top: 1rem;
    justify-content: flex-start;
    height: 300px;
    overflow-y: scroll;
    color: red;
    border: 1px solid red ;
    border-radius: 1rem;
}
.list-group{
	background: transparent;
	color:#fff;
}

	
	
    @media only screen and (min-width: 768px) {
		
.container{
   display: grid;
    grid-template-columns: 1fr 2fr;
    flex-direction: row;
    padding: 1rem 1rem;
    color: #fff;
    border: none;
    align-items: start;
    justify-content: space-evenly;
    justify-items: center;
    align-content: center;
}

.list-group{
	margin-right: 	1rem;
}
.card-main{
	
    margin: 0;
    padding: 0;
    background-color: transparent;
    width: 100%;
    border: 1px solid #fff ;
    border-radius: 1rem;
    
}
.values{
	display: grid;
    grid-template-columns:  50% 50%;
    grid-template-rows: 1f  1f;
    margin: 1rem;
}
.entry-value {
	  display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    padding: .1rem;
    font-size: .80rem;
    margin: 1rem;
    justify-content: flex-start;
    overflow-y: scroll;
    color: green;
    border: 1px solid green ;
    border-radius: 1rem;
}
.output-value{
	  display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    padding: .5rem;
    margin: 1rem;
    justify-content: flex-start;
    overflow-y: scroll;
    color: red;
    border: 1px solid red ;
    border-radius: 1rem;
}
}
