.main{
	display:flex;
	 flex-direction: column;
    margin: 0;
    padding: 0;
}

.container{
    display: flex;
    flex-direction: column;
    padding: 1rem 1rem;
    color: #fff;
    border: none;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
} 
.card-main{
	display: flex;    
	flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    background-color: transparent;
    width: 100%;
    border: 1px solid #fff ;
    border-radius: 1rem;
  
}
.card-main form{
	background:transparent;
}
.card-main fieldset{
	background:transparent;
}
.card-main legend{
    display: flex;
    align-content: center;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:#fff;
    font-weight: 700;
    
}

.card-title{
	color:#fff;
    font-weight: 700;
}

.form-group{
	color:#fff;
	margin: 1rem;
}
.form-control{
	background: transparent;
}

.cardCaixa{
	display: grid;
    grid-template-columns: 1fr 1fr;
    
    width: 354px;
    justify-content: center;
}


.card-button {
	display: flex;    
	flex-direction: column;
    align-items: center;
    padding: 1rem;
    
}

.button-submit{
	display: flex;    
	flex-direction: column;
    align-items: center;
    padding: 1rem;
    border: 1px solid #fff ;
    border-radius: 1rem;
    color:#fff;
}

@media only screen and (min-width: 768px) {
	
.cardPrincipal{
	display: grid;
    grid-template-columns: 1fr ;
    flex-direction: row;
    margin: 1rem;
    padding: 1rem;
    background-color: transparent;
    width: 50%;
    border: 1px solid #fff ;
    border-radius: 1rem;
    }
    }