<!DOCTYPE html>

<head>
	<title>index</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- CSS Bootstrap CDN v-5.2 -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
	<!--LINK ICON-->
	<link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
	<!-- meu CSS -->
	<link rel="stylesheet" th:href="@{CSS/adms/home.css}">
	<link rel="stylesheet" th:href="@{/CSS/styleGlobal.css}">

</head>

<body>
	<main>
		<nav th:replace="~{fragments/_navbar :: nav}"></nav>
		<div class="container">

			<!----lista---->
			<section class="lista" id="lista">

				<button class="trigger m-3" id="trigger" type="button">
					<h4 class="buttonMenu">Menu</h4>
				</button>

				<div class="list-group mb-3" id="list-group">
					<a type="button" th:href="@{/caixa}" class="list-group-item list-group-item-action">Caixa</a>
					<a type="button" th:href="@{/cliente}" class="list-group-item list-group-item-action">Clientes</a>
					<a type="button" th:href="@{/fornecedor}" class="list-group-item list-group-item-action">Produto</a>
					<a type="button" th:href="@{/servicos}" class="list-group-item list-group-item-action">Serviços</a>
				</div>
			</section>
			<!---- fim lista---->



			<!---card main-->
			<div class="card-main" data-bs-spy="scroll" data-bs-target="#navbar-example">

				<!---botão de cadastro-->
				<a type="button" class="button-register btn border-btn m-3" data-bs-target="#staticBackdrop"
					th:href="@{adms/cadastrar}">
					<i class="bi bi-clipboard-plus "></i>cadastrar
				</a>
				<!--- fim do botão de cadastro-->

				<h3 class="card-title text-center">Administrador</h3>

				<div class="cards">
					<div class="card-son " th:each="adms : ${adms}" style="width: 18rem;">

						<h5 class="text-right" th:text="${adms.id}"> </h5>
						<h5 class="text-center " th:text="${adms.nome}"> Marca </h5>
						<p class="text-center" th:text="${adms.email}">Clara Giovana Daniela Duarte</p>

						<div class="button-details">
							<a type="button " data-toggle="popover" data-placement="top" data-content="Detalhes"
								data-trigger="hover" class="btn btn" th:href="@{/adms/{id} (id=${adms.id})}"> Detalhes
							</a>
						</div>
					</div>
				</div>

			</div>

			<!---fim card-->
		</div>
	</main>

	<th:block th:fragment="scripts">
		<script th:src="@{JS/homeGlobal.js}"></script>
	</th:block>

	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
		crossorigin="anonymous"></script>

</body>

</html>